body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    background-image: url('assets/header-bg.jpg'); 
    height: 300px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
}

.header-content {
    position: relative;
    color: white; 
}

.container {
    text-align: center;
    padding: 20px;
    color:#605C3C;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.button-container {
    margin: 0 20px;
}

.arrow {
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #6D6027; 
    padding: 10px; 
}

.arrow:hover {
    color: #D3CBB8; 
}

#paymentHistoryTable {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#paymentHistoryTable th, #paymentHistoryTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

#paymentHistoryTable th {
    background-color: #D3CBB8; 
    color: #6D6027; 
}

#paymentHistoryTable tr:hover {
    background-color: #f1f1f1; 
}
.feature-text {
    text-align: center; 
    margin-bottom: 10px; 
    font-weight: bold; 
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-description {
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
}

.btn-50,
.btn-50 *,
.btn-50 :after,
.btn-50 :before,
.btn-50:after,
.btn-50:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-50 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #D3CBB8;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-50:disabled {
  cursor: default;
}
.btn-50:-moz-focusring {
  outline: auto;
}
.btn-50 svg {
  display: block;
  vertical-align: middle;
}
.btn-50 [hidden] {
  display: none;
}
.btn-50 {
  background: #D3CBB8;
  border-radius: 10px;
  box-shadow: 0 1px 2px 2px #eee;
  box-sizing: border-box;
  color: #6D6027;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  padding: 20px 60px;
  perspective: 800px;
  position: relative;
  text-transform: uppercase;
  transform: rotateX(32deg);
  transform-style: preserve-3d;
  transition: transform 0.2s;
}
.btn-50:hover {
  transform: rotateX(38deg) translateY(7px);
}
.btn-50:before {
  background: hsla(0, 0%, 100%, 0.3);
  content: "";
  filter: blur(80px);
  height: 400%;
  left: -50%;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateY(50px);
  width: 200%;
}

/* Modal styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 15% auto; 
    padding: 20px;
    border: none;
    width: 80%; 
    max-width: 400px; 
    color: #D3CBB8;
}

.close {
    color: #D3CBB8;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styles for the dropdown */
#walletAddress {
    padding: 10px; 
    border: 2px solid #6D6027; 
    border-radius: 5px; 
    background-color: #D3CBB8; 
    font-size: 16px; 
    color: #333; 
    transition: border-color 0.3s; 
    width: 100%; 
    max-width: 400px; 
}


#walletAddress:focus {
    border-color: #6D6027; 
    outline: none; 
}


#walletAddress option {
    padding: 10px; 
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 20px; 
}


h3 {
    margin-bottom: 10px; 
    color: #333; 
}
